{% set single_sidebar = node.field_default_sidebar.0.value %}
    {% if single_sidebar == '' %}
        {% set single_sidebar = 'left' %}
    {% endif %}
{% set blog_format = node.field_blog_format.0.value %}
    {% if blog_format == '' %}
        {% set blog_format = 'fullwidth' %}
    {% endif %}
{% set bg_img_url = file_url(node.field_header_background.entity.uri.value) %}
{% set user_name = node.getRevisionAuthor().name.value %}
{% set full_name = node.getRevisionAuthor().field_full_name.value %}
    <div class="master-wrapper page-blog-single">

        {% if setting_header == 'style2' %}
          {% include theme_path ~ "/templates/header/header-2.html.twig" %}
        {% elseif setting_header == 'style3' %}
          {% include theme_path ~ "/templates/header/header-3.html.twig" %}
        {% elseif setting_header == 'style4' %}
          {% include theme_path ~ "/templates/header/header-4.html.twig" %}
        {% elseif setting_header == 'style5' %}
          {% include theme_path ~ "/templates/header/header-5.html.twig" %}
        {% elseif setting_header == 'style6' %}
          {% include theme_path ~ "/templates/header/header-6.html.twig" %}
        {% else %}
          {% include theme_path ~ "/templates/header/header-1.html.twig" %}
        {% endif %} 
        
        {% if blog_format == 'thin' %}
            <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="{{ bg_img_url }}" data-speed="0.7">
                <div class="section-inner text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 mt30 wow">
                                <h2 class="section-heading">{{ title }}</h2>
                                <div class="item-metas text-muted mb30 white">
                                    <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTED IN <span>{% set d = 0 %}
                                                    {% for cate in link_categories %}
                                                        {% set d = d + 1 %}
                                                        {% if d == link_categories|length %}
                                                            {{ cate|t }}
                                                        {% else %}
                                                            {{ cate|t }}{{ ', ' }}
                                                        {% endif %}
                                                    {% endfor %}</span></span>
                                    <span class="meta-item"><i class="pe-icon pe-7s-ticket"></i> TAGS <span>{% set c = 0 %}
                                                {% for tag in link_tags %}
                                                    {% set c = c + 1 %}
                                                    {% if c == link_tags|length %}
                                                        {{ tag|t }}
                                                    {% else %}
                                                        {{ tag|t }}{{ ', ' }}
                                                    {% endif %}
                                                {% endfor %}</span></span>
                                    <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>{% if full_name %}{{ full_name }}{% else %}{{ user_name }}{% endif %}</span></span>
                                    <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> COMMENTS <span>{{ node.field_blog_comments.comment_count }}</span></span>
                                    <span class="meta-item post-date"><i class="pe-icon pe-7s-clock"></i> POSTED <span>{{ node.created.value|date('dS F, Y') }}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="section-inner">
                    <div class="container">
                        <div class="row">
                            <div class="webup-container">{{ page.content_full_bar }}</div>
                            {{ page.content }}
                        </div>
                    </div>
                </div>
            </section>

            <section class="dark-wrapper opaqued parallax">
                <div id="contact-tabs" role="tabpanel">

                    <!-- Nav tabs -->
                        {{ page.section_3 }}

                    <!-- Tab panes -->
                    <div class="tab-content" id="tabs-collapse">
                        {{ page.section_2 }}
                    </div>
                </div>
            </section>
        {% elseif blog_format == 'fullwidth' %}
            <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="{{ bg_img_url }}" data-speed="0.7">
                <div class="section-inner pad-top-200">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-12 mt30 wow">
                                <h2 class="section-heading">{{ title }}</h2>
                                <div class="item-metas text-muted mb30 white">
                                    <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTED IN <span>{% set d = 0 %}
                                                    {% for cate in link_categories %}
                                                        {% set d = d + 1 %}
                                                        {% if d == link_categories|length %}
                                                            {{ cate|t }}
                                                        {% else %}
                                                            {{ cate|t }}{{ ', ' }}
                                                        {% endif %}
                                                    {% endfor %}</span></span>
                                    <span class="meta-item"><i class="pe-icon pe-7s-ticket"></i> TAGS <span>{% set c = 0 %}
                                                {% for tag in link_tags %}
                                                    {% set c = c + 1 %}
                                                    {% if c == link_tags|length %}
                                                        {{ tag|t }}
                                                    {% else %}
                                                        {{ tag|t }}{{ ', ' }}
                                                    {% endif %}
                                                {% endfor %}</span></span>
                                    <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>{% if full_name %}{{ full_name }}{% else %}{{ user_name }}{% endif %}</span></span>
                                    <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> COMMENTS <span>{{ node.field_blog_comments.comment_count }}</span></span>
                                    <span class="meta-item post-date"><i class="pe-icon pe-7s-clock"></i> POSTED <span>{{ node.created.value|date('dS F, Y') }}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="section-inner">
                    <div class="container pad-sides-120">
                        <div class="row">
                                {{ page.content_full_bar }}
                                {{ page.content}}
                        </div>
                    </div>
                </div>
            </section>

            <section class="dark-wrapper opaqued parallax">
                <div id="contact-tabs" role="tabpanel">

                    <!-- Nav tabs -->
                        {{ page.section_3 }}

                    <!-- Tab panes -->
                    <div class="tab-content" id="tabs-collapse">
                        {{ page.section_2 }}
                    </div>
                </div>
            </section>
        {% else %}
            <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="{{ bg_img_url }}" data-speed="0.7">
                <div class="section-inner pad-top-200">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-12 mt30 wow">
                                <h2 class="section-heading">{{ title }}</h2>
                                <div class="item-metas text-muted mb30 white">
                                    <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTED IN <span>{% set d = 0 %}
                                                    {% for cate in link_categories %}
                                                        {% set d = d + 1 %}
                                                        {% if d == link_categories|length %}
                                                            {{ cate|t }}
                                                        {% else %}
                                                            {{ cate|t }}{{ ', ' }}
                                                        {% endif %}
                                                    {% endfor %}</span></span>
                                    <span class="meta-item"><i class="pe-icon pe-7s-ticket"></i> TAGS <span>{% set c = 0 %}
                                                {% for tag in link_tags %}
                                                    {% set c = c + 1 %}
                                                    {% if c == link_tags|length %}
                                                        {{ tag|t }}
                                                    {% else %}
                                                        {{ tag|t }}{{ ', ' }}
                                                    {% endif %}
                                                {% endfor %}</span></span>
                                    <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>{% if full_name %}{{ full_name }}{% else %}{{ user_name }}{% endif %}</span></span>
                                    <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> COMMENTS <span>{{ node.field_blog_comments.comment_count }}</span></span>
                                    <span class="meta-item post-date"><i class="pe-icon pe-7s-clock"></i> POSTED <span>{{ node.created.value|date('dS F, Y') }}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="section-inner">
                    <div class="container pad-sides-120">
                        <div class="row">
                            {% if single_sidebar == 'left' %}
                                <div id="post-sidebar" class="col-sm-3">
                                    {{ page.sidebar }}
                                </div>
                                <div id="post-content" class="col-sm-8 col-sm-offset-1 blog-item mb60 wow">
                                    
                                    {{ page.content_full_bar }}
                                    {{ page.content }}
                                </div>
                            {% else %}
                                <div id="post-content" class="col-sm-8 blog-item mb60 wow">

                                    {{ page.content_full_bar }}
                                    {{ page.content }}
                                </div>
                                <div id="post-sidebar" class="col-sm-3 col-sm-offset-1">
                                    {{ page.sidebar }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="dark-wrapper opaqued parallax">
                <div id="contact-tabs" role="tabpanel">

                    <!-- Nav tabs -->
                        {{ page.section_3 }}

                    <!-- Tab panes -->
                    <div class="tab-content" id="tabs-collapse">
                        {{ page.section_2 }}
                    </div>
                </div>
            </section>
        {% endif %}
        {% if setting_footer == 'style2' %}
          {% include theme_path ~ "/templates/footer/footer-2.html.twig" %}
        {% elseif setting_footer == 'style3' %}
          {% include theme_path ~ "/templates/footer/footer-3.html.twig" %}
        {% elseif setting_footer == 'style4' %}
          {% include theme_path ~ "/templates/footer/footer-4.html.twig" %}
        {% elseif setting_footer == 'style5' %}
          {% include theme_path ~ "/templates/footer/footer-5.html.twig" %}
        {% elseif setting_footer == 'style6' %}
          {% include theme_path ~ "/templates/footer/footer-6.html.twig" %}
        {% else %}
          {% include theme_path ~ "/templates/footer/footer-1.html.twig" %}
        {% endif %}

    </div>
    <div class="flexpanel">
        <div class="viewport-wrap">
            <div class="viewport">
                {{ page.slid_bar }}
            </div>
        </div>
    </div>