<div id="footer-wrapper">
    <section class="dark-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    {{ page.footer_column_1 }}
                    {{ page.footer_column_2 }}
                    {{ page.footer_column_3 }}
                </div>
            </div>
        </div>
    </section>

    <footer class="white-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    {{ page.footer_social_bar }}
                </div>

                <hr class="thin-hr"/>
                {% if copyright_text %}
                    <div class="col-md-12 text-center wow">
                        {{ copyright_text|t }}
                    </div>
                {% endif %}
            </div>
        </div>
    </footer>
</div>